:host {
  display: block;
}
.back-shape{
  z-index: -1;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #F2F4F8;
  border-radius: 50%;
  left: 0;
  bottom: -80px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
