.blob{
  z-index: -1;
  position: absolute;
  top:10px;
  left: 0;
  right: 0;
  bottom:0;
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:auto;
}
.blob-2{
  z-index: -1;
  position: absolute;
  top:50%;
  left: -50px;
  right: 0;
  bottom:0;
  max-width: 50%;
  max-height: 50%;
  margin-right:auto;
  margin-bottom:auto;
}
.blob-3{
  z-index: -1;
  position: absolute;
  top:25%;
  left: 0;
  right: -50px;
  bottom:0;
  max-width: 50%;
  max-height: 50%;
  margin-left:auto;
  margin-bottom:auto;
}